<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Acceuil</h1>
</div>
<div class="row">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of emplist_noumena">
                        <td>1</td>
                        <td>{{item.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Voitures</h6>
                <div class="dropdown no-arrow">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModalI">
                    Nouvelle
                    </button>
                    <!-- Modal ajout voiture -->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalI" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Nouvelle voiture</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal ajout voiture -->
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div
                    id="all"
                    cdkDropList
                    [cdkDropListData]="voitures"
                    cdkDropListConnectedTo="even"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListEnterPredicate]="noReturnPredicate">
                    <div
                        class="example-box"
                        *ngFor="let number of voitures"
                        [cdkDragData]="number"
                        cdkDrag>
                        <div class="d-flex flex-row justify-content-between bg-warning">
                            <div class="bg-primary">
                                <h4>Information Voiture:</h4>{{number.make}}**{{number.model}}**{{number.year}}
                            </div>
                            <div class="bg-success">
                                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModalModifier">
                                Mofidier
                                </button>
                                <button class="btn btn-outline-warning">Historique</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Garages</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div
                    id="even"
                    cdkDropList
                    [cdkDropListData]="garage"
                    cdkDropListConnectedTo="all"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListEnterPredicate]="verifieranne">
                    <div
                        class="example-box"
                        *ngFor="let number of garage"
                        cdkDrag
                    [cdkDragData]="number">{{number.make}}**{{number.model}}**{{number.year}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal-modifier -->
<div class="modal fade" id="exampleModalModifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier voiture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- modal-modifier -->