




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">

                    <div class="row pb-5 p-2">
                        <div class="col-md-4">
                            <p class="font-weight-bold mb-4"> Information client</p>
                            <p class="mb-1">Nom: {{information_user.username}}</p>
                            <p>Mail: {{information_user.mail}}</p>
                        </div>
                      
                        <div class="col-md-4">
                            <p class="font-weight-bold mb-4">Information facture</p>
                            <p class="mb-1">Etat paiement: valider</p>
                        </div>

                        <div class="col-md-4 text-right">
                            <p class="font-weight-bold mb-4">Détail bon de sortie</p>
                            <p class="mb-1"><span class="text-muted">Référence: </span> {{bon_sortie.reference }}</p>
                            <p class="mb-1"><span class="text-muted">Date: </span> {{bon_sortie.dateSortie |date}}</p>
                            <p class="mb-1" *ngIf="bon_sortie.etatLivraison == 0"><span class="text-muted" >Etat: </span> Non valider</p>
                            <p class="mb-1" *ngIf="bon_sortie.etatLivraison == 1"><span class="text-muted" >Etat: </span> Valider</p>
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">Partie</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">montant</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Duree</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let liste_diagnostic of liste_diagnostic" >
                                        <td>{{liste_diagnostic.partie}}</td>
                                        <td>{{liste_diagnostic.montant | number}} Ar</td>
                                        <td>{{liste_diagnostic.details}}</td>
                                        <td>{{liste_diagnostic.duree}} jours</td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div *ngIf="bon_sortie.etatLivraison == 0" class="py-3 px-5 text-right d-flex felx-column justify-content-start ">
                            <div class="col-5">
                                <button style="height: 80px;" class="btn btn-outline-success" (click)="validerBonSortie()">Valider</button>
                            </div>
                        </div>
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Total jour de réparation</div>
                            <div class="h2 font-weight-light">{{info_reparation[0].sumJour |number }} jours </div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Total montant</div>
                            <div class="h2 font-weight-light">{{info_reparation[0].sumMont |number }} Ar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 

</div>



