<style>
    .vertical-line{
      border-left: 2px solid #000;
      display: inline-block;
      height: 130px;
      margin: 0 20px;
    }
  </style>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mecanicien: Valimbavaka</h1>
</div>


<div class="row">
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Déposition</h6>
                <div class="dropdown no-arrow">
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div
                    id="deposition"
                    cdkDropList 
                    [cdkDropListData]="listevoitures"
                    cdkDropListConnectedTo="encours"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div
                        class="example-box"
                        *ngFor="let lv of listevoitures"
                        [cdkDragData]="lv"
                        cdkDrag>
                        <div class="d-flex justify-content-between" style="margin: 10px 10px;">
                            <div style="background-color: white;line-height: normal;border-radius: 5px;padding: 5px ; flex-grow: 1;">
                                <p>Marque: {{lv.idvoiture.marque}}</p>
                                <p>Matricule: {{lv.idvoiture.matricule}}</p>
                                <p>Client: {{lv.idclient.username}}</p>
                                <p>Date: {{lv.datedepot}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">En cours</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div
                    id="encours"
                    cdkDropList
                    [cdkDropListData]="garage"
                    [cdkDropListConnectedTo]="['deposition','fin']"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div
                        class="example-box"
                        *ngFor="let lv of garage"
                        [cdkDragData]="lv"
                        cdkDrag>
                        <div class="d-flex justify-content-between" style="margin: 10px 10px;">
                            <div style="background-color: white;line-height: normal;border-radius: 5px;padding: 5px ; flex-grow: 1;">
                                <p>Marque: {{lv.idvoiture.marque}}</p>
                                <p>Matricule: {{lv.idvoiture.matricule}}</p>
                                <p>Client: {{lv.idclient.username}}</p>
                                <p>Date: {{lv.datedepot}}</p>
                            </div>
                            <span class="vertical-line"></span>
                            <a [routerLink]="['/t/acm/', lv._id]">
                                <button type="button" class="btn btn-outline-success" style="height: 50px;margin-top: 20px;" >
                                    Diagnostic
                                </button>
                            </a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Fin</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div
                    id="fin"
                    cdkDropList
                    [cdkDropListData]="fin"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div
                        class="example-box"
                        *ngFor="let lv of fin"
                        [cdkDragData]="lv"
                        cdkDrag>
                        <div class="d-flex justify-content-between" style="margin: 10px 10px;">
                            <div style="background-color: white;line-height: normal;border-radius: 5px;padding: 5px ; flex-grow: 1;">
                                <p>Marque: {{lv.idvoiture.marque}}</p>
                                <p>Matricule: {{lv.idvoiture.matricule}}</p>
                                <p>Client: {{lv.idclient.username}}</p>
                                <p>Date: {{lv.datedepot}}</p>
                            </div>
                            <span class="vertical-line"></span>
                            <a [routerLink]="['/t/avancement']"> <button class="btn btn-outline-success mt-3">Valider BS</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


      