<style>
.vertical-line{
border-left: 1px solid #ccc;
display: inline-block;
height: 130px;
margin: 0 10px;
}
</style>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Utilisateur: {{user_actif}}</h1>
</div>
<div class="row">
    <!-- //Liste voiture du client -->
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Voitures</h6>
                <div class="dropdown no-arrow">
                    <div class="d-flex justify-content-between" >
                        <select name="" id=""  [(ngModel)]="annee">
                            <option value="">All</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                        <!-- <input class="form-control"  style="margin-right: 20px;" type="text" class="form-control" placeholder="Annee"> -->
                        <input class="form-control"  style="margin-right: 20px;" type="text" class="form-control" placeholder="Tout....." [(ngModel)]="searchText">
                        <button type="button"  class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModalI">
                        Nouvelle
                        </button>
                    </div>
                    <!-- Modal ajout voiture -->
                    
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body" >
                <div *ngIf="loading" >
                    <div class="preloader">
                        <div class="loader">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                    
                            <div class="indicator"> 
                                <svg width="16px" height="12px">
                                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card-body" *ngIf="!loading" >
                <div id="parking"
                    cdkDropList
                    class="example-list"
                    [cdkDropListData]="listevoitures"
                    cdkDropListConnectedTo="deposition"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListEnterPredicate]="Pas_de_retour">
                    <div class="mb-3"
                        style="width: 300px;
                        height: 180px;
                        border: solid 1px #ccc;
                        color: rgba(0, 0, 0, 0.87);
                        cursor: move;
                        background: #fff;
                        border-radius: 4px;
                        margin-right: 25px;
                        position: relative;
                        z-index: 1;
                        margin-top: 20px;
                        box-sizing: border-box;
                        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                        0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 1px 5px 0 rgba(0, 0, 0, 0.12);" *ngFor="let voiture of listevoitures" [cdkDragData]="voiture" cdkDrag>
                        <div class="d-flex justify-content-between" style="margin: 10px 10px;">
                            <div style="background-color: ghostwhite;line-height: normal;border-radius: 5px;padding: 5px ; flex-grow: 1;">
                                <p>Designation: {{voiture.voiture.designation}}</p>
                                <p>Marque: {{voiture.voiture.marque}}</p>
                                <p>Matricule: {{voiture.voiture.matricule}}</p>
                            </div>
                            <span class="vertical-line"></span>
                            <div style="display: flex;flex-direction: column;" >
                                <a [routerLink]="['/t/historique', voiture.voiture._id]"> <button  class="btn btn-outline-success mt-3">Historique</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Garage -->
    <div class="col-lg-6">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Garages</h6>
            </div>
            <!-- Card Body -->
            <div *ngIf="loading_garage" class="d-flex justify-content-center">
                
                <div class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="card-body">
                <div
                    id="deposition"
                    class="example-list"
                    cdkDropList
                    [cdkDropListData]="liste_voiture_garage"
                    cdkDropListConnectedTo="parking"
                    (cdkDropListDropped)="drop($event)"
                    >
                    <div class="mb-3"
                        style="width: 400px;
                        height: 200px;
                        border: solid 1px #ccc;
                        color: rgba(0, 0, 0, 0.87);
                        cursor: move;
                        background: #fff;
                        border-radius: 4px;
                        margin-right: 25px;
                        position: relative;
                        z-index: 1;
                        margin-top: 20px;
                        box-sizing: border-box;
                        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
                        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                        0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 1px 5px 0 rgba(0, 0, 0, 0.12);"
                        *ngFor="let voiture of liste_voiture_garage" [cdkDragData]="voiture" cdkDrag>
                        <div class="d-flex" style="margin: 10px 10px;">
                            <div style="background-color: white;line-height: normal;border-radius: 5px;padding: 5px ; flex-grow: 1;">
                                <div  class="d-flex justify-content-between" style="margin: 10px 10px;">
                                    <div style="background-color: ghostwhite;line-height: normal;border-radius: 5px;padding: 5px ; flex-grow: 1;">
                                        <p>Designation: {{voiture.voiture.designation}}</p>
                                        <p>Marque: {{voiture.voiture.marque}}</p>
                                        <p>Matricule: {{voiture.voiture.matricule}}</p>
                                    </div>
                                    <span class="vertical-line"></span>
                                    <div style="display: flex;flex-direction: column;" >
                                        <a [routerLink]="['/t/avancement', voiture.voiture._id]"> <button class="btn btn-outline-success mt-3">Avancement</button></a>
                                        <a [routerLink]="['/t/detailfacture/', voiture.voiture._id]"> <button class="btn btn-outline-primary mt-3">Facture</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Ajouter -->
<div class="modal fade" id="exampleModalI" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success " style="color: black;">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle voiture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit) = "Ajouter()" >
                    <div class="col-10">
                        <label for="">Désignation</label>
                        <input type="text" [(ngModel)] = "formData.designation" name="designation" class="form-control">
                    </div>
                    <div class="col-10">
                        <label for="">Marque</label>
                        <input type="text" name="marque" [(ngModel)] = "formData.marque" class="form-control">
                    </div>
                    <div class="col-10">
                        <label for="">Matricule</label>
                        <input type="text" name="matricule" [(ngModel)] = "formData.matricule" class="form-control">
                    </div>
                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal">Ajouter</button>
                    </div>
                </form>
                <div *ngIf="message" class="text-center mt-2">{{message.message}}</div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ajout voiture -->
<!-- modal-modifier -->
<div class="modal fade" id="exampleModalModifier" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary" style="color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Modifier voiture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-10">
                        <label for="">Designation</label>
                        <input type="text" name="designation" class="form-control">
                    </div>
                    <div class="col-10">
                        <label for="">Marque</label>
                        <input type="text" name="marque" class="form-control">
                    </div>
                    <div class="col-10">
                        <label for="">Matricule</label>
                        <input type="text" name="matricule" class="form-control">
                    </div>
                </form>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Modifier</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal-modifier -->