<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Financier: Valimbavaka</h1>
</div>


<div class="row">
    <div class="col-12">
        <h3>Voir bilan par mois et par jour pour une date donnée</h3>
        <form (ngSubmit)="click_afficher()">
        <div class="row">
                <div class="col-4">
                    <label> Choisir le mois </label>
                    <input type="date" [(ngModel)]="formData.daty" class="form-control" name="daty">
                    <!-- <select [(ngModel)]="formData.daty" class="form-control" name="daty">
                        <option *ngFor="let mois of moiss" value="{{mois}}">{{mois}}</option>
                    </select> -->
                </div>
                <div class="col-2 d-flex flex-column justify-content-end">
                    <input type="submit" class="form-control" value="Traiter" >
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row  mt-3" *ngIf="affichage" >
    <h3>Mois: {{moiss_encours | date: "MMMM" }} ---> total: {{total_facture_mois |number}} Ar  </h3>
    <div class="col-6">
        <h3>Par jour</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>date</td>
                    <td>Montant</td>
                </tr>
            </thead>
            <tbody>
                <!-- dd pour le jour, yyyy annee, MMMM mois -->
                <tr *ngFor="let c of tableau_chiffre">
                    <th>{{c.facture.datefacture | date: 'MMMM'}}</th>
                    <th>{{c.sumMont | number}} Ar</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3>Bilan </h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Chiffre</td>
                    <td>Dépense</td>
                    <td>Bénefice</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{tableau_benefice.chiffre |number}} Ar</th>
                    <th>{{tableau_benefice.depense |number}} Ar</th>
                    <th>{{tableau_benefice.benefice |number}} Ar</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>