<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Financier: Valimbavaka</h1>
</div>


<div class="row">
    <div class="col-12">
        <h3>Voir bilan par mois et par jour pour une date donnée</h3>
        <form (ngSubmit)="click_afficher()">
        <div class="row">
                <div class="col-4">
                    <label> Choisir la date </label>
                    <input type="date" [(ngModel)]="formData.daty" class="form-control" name="daty"  >
                </div>
                <div class="col-2 d-flex flex-column justify-content-end">
                    <input type="submit" class="form-control" value="Traiter" >
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row  mt-3" *ngIf="affichage" >
    <h3>Mois ---> total: 30 000 Ar  </h3>
    <div class="col-6">
        <h3>Par jour</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Jour</td>
                    <td>Montant</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>3 000 Ar</th>
                </tr>
                <tr>
                    <th>2</th>
                    <th>4 000 Ar</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>