<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 style="text-align: center;">Se connecter</h3>
      <br>
      <!-- <form action="" method="get" accept-charset="utf-8"> -->
        <label for="">Nom</label>
        <input type="text"  class="form-control" name="">
        <label for="">Mdp</label>
        <input type="text" class="form-control"  name="">
        <a  [routerLink]="['/template']" class="nav-item nav-link active">
          <button class="btn btn-outline-primary">Se connecter</button>
        </a>
      <!-- </form> -->
    </div>
  </div>
</div>