
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Détail du facture</h1>
</div>
<div class="row">
    <div class="card">
        <div class="card-header">
          Facture réference: Aaa...123
        </div>
        <div class="card-body">
          <h5 class="card-title">Réparations</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Montant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Changement de pneus</td>
                <td>500 000 Ar</td>
              </tr>
              <tr>
                <td>Remplacement de la batterie</td>
                <td>750 000 Ar</td>
              </tr>
              <tr>
                <td>Révision générale</td>
                <td>1000 000 Ar</td>
              </tr>
            </tbody>
          </table>
          <h5 class="card-title">Total : 225 €</h5>
          <a href="#" class="btn btn-outline-primary">Payer</a>
          <div class="alert alert-success " style="display: flex;justify-content: center;">
            <h3>Paiement déja effectué</h3>
          </div>
        </div>
      </div>
</div>

