<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Validation paiement</h1>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Réference facture</th>
                    <th>Client</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>N°4564</td>
                    <td>Valimbavaka</td>
                    <td>100 000 Ar</td>
                    <td><button class="btn btn-outline-success">Valider</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Liste paiement à valider ihan no miseho eto fa ts mampiseho ny liste paiement reetra na ny paye na ny tsy paye -->