<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Validation paiement</h1>
</div>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead  class="bg-success" style="color: black;">
                <tr>
                    <th>Réference facture</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let liste of liste_non_valide">
                    <td>N°4564</td>
                    <td>{{liste.user[0].mail}}</td>
                    <td>{{liste.facture.datefacture | date}}</td>
                    <td>{{liste.sumMont |number }} Ar</td>
                    <td><button class="btn btn-outline-success" (click)="validerFacture(liste.facture._id)" >Valider</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Liste paiement à valider ihan no miseho eto fa ts mampiseho ny liste paiement reetra na ny paye na ny tsy paye -->