<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Historique de répration du voiture Renault</h1>
</div>

<div class="card">
    <div class="card-header">
      Deposition n°12348 le 22 Janvier 2023
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Description</th>
            <th scope="col">Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Changement de pneus</td>
            <td>500 000 Ar</td>
          </tr>
          <tr>
            <td>Remplacement de la batterie</td>
            <td>750 000 Ar</td>
          </tr>
          <tr>
            <td>Révision générale</td>
            <td>1000 000 Ar</td>
          </tr>
        </tbody>
      </table>
      <h5 class="card-title">Total : 225 €</h5>
        <h3>En cours / Juste deposition / Réparation effectuée</h3>
    </div>
  </div>