<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Historique de répration du voiture Renault</h1>
</div>


<div *ngIf="detail[0] == null">
  <div class="alert alert-warning">
          <h3>Pas de réparation</h3>
  </div>
</div>


<div *ngIf="detail != null">
  <div class="card mt-3 mb-2" *ngFor="let d of detail">
    <div class="card-header bg-success" style="color: black;"  >
      Deposition n°12348 le {{d.depot.datedepot|date}}
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Partie</th>
            <th scope="col">Montant</th>
            <th scope="col">Duree</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let diag of d.diagnostic" >
            <td>{{diag.partie}}</td>
            <td>{{diag.montant |number }} Ar</td>
            <td>{{diag.duree}} jours</td>
          </tr>
        </tbody>
      </table>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">Total montant</h6>
          <span class="text-secondary">{{ d.sumMont | number }} Ar</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">Total durée de répration</h6>
          <span class="text-secondary">{{ d.sumJour }} jours </span>
        </li>
      </ul>
    </div>
  </div>
</div>
