  <div class="card">
  <div class="card-header bg-primary"></div>
  <div class="card-body">

    <div class="container" *ngIf="detail_facture[0]">
      <div class="row">
        <div class="col-xl-12">
          <i class="far fa-house text-danger fa-6x float-start"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">

          <ul class="list-unstyled float-end">
            <li style="font-size: 30px; color: rgb(108, 108, 202);">   <div class="sidebar-brand-icon rotate-n-15">
              <i class="bi bi-car-front-fill"></i>
           </div>
           <div class="sidebar-brand-text mx-3">Garage</div></li>
            <li>garage001@gmail.com</li>
          </ul>
        </div>
      </div>

      <div class="row text-center">
        <h3 class="text-uppercase text-center mt-3" style="font-size: 40px;">Facture</h3>
        <p>123456789</p>
      </div>
      <div>
        <p>Client: {{detail_facture[0].user[0].mail }}</p>
      </div>

      <div class="row ">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Partie</th>
              <th scope="col">Montant</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let diag of liste_diag">
              <td>{{diag.partie}}</td>
              <td>{{diag.montant | number }} Ar</td>
            </tr>
            
          </tbody>
        </table>

      </div>
      <hr>
      <div class="row">
        <div class="col-xl-8" style="margin-left:60px">
          <p class="float-end"
            style="font-size: 30px; color: black; font-weight: 400;font-family: Arial, Helvetica, sans-serif;">
            Total:
            <span> {{detail_facture[0].sumMont | number }} Ar</span></p>
        </div>

      </div>

      <div class="row mt-2 mb-5">
        <p class="fw-bold">Date: <span class="text-muted">{{detail_facture[0].facture.datefacture | date}}</span></p>
        <p class="fw-bold mt-3" style="color: green"  *ngIf="detail_facture[0].facture.etat == 1" >Statut: Payé </p>
        <p class="fw-bold mt-3"  style="color: red" *ngIf="detail_facture[0].facture.etat == 0" >Statut: Non Payé </p>
      </div>

    </div>
    <!-- Si Facture non payé  -->
    <div class="container" *ngIf="!detail_facture[0]">
          <div class="alert alert-warning  d-flex justify-content-center" >
              <h2>Voiture en attente de réparation par le mécanicien </h2>
            </div>
    </div>


    

  </div>
  <div class="card-footer bg-primary"></div>
</div>

